<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :TeamOne %><br>
    <%= f.text_field :TeamOne %>
  </div>
  <div class="field">
    <%= f.label :TeamTwo %><br>
    <%= f.text_field :TeamTwo %>
  </div>
  <div class="field">
    <%= f.label :TeamOneVotes %><br>
    <%= f.number_field :TeamOneVotes %>
  </div>
  <div class="field">
    <%= f.label :TeamTwoVotes %><br>
    <%= f.number_field :TeamTwoVotes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
